<div ng-controller="AccordionDemoCtrl">

    <accordion close-others="oneAtATime">
        <accordion-group heading="live music" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">

        </accordion-group>
        <accordion-group heading="{{group.title}}" ng-repeat="group in groups">
            {{group.content}}
        </accordion-group>
        <accordion-group heading="documentary & editorial">
            <p>The body of the accordion group grows to fit the contents</p>
        </accordion-group>
        <accordion-group heading="video work" is-open="status.open">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/CxMzsqMs4bQ" frameborder="0" allowfullscreen></iframe>
        </accordion-group>
    </accordion>
</div>